/* Importing the fonts from google fonts */

/* Importing the local fonts */
@font-face {
  font-family: 'sundown1';
  src: url(./fonts/sundown1.woff);
}
@font-face {
  font-family: 'sundown2';
  src: url(./fonts/sundown2.woff);
}
@font-face {
  font-family: 'NeueHassLight';
  src: url(./fonts/NeueHaasDisplayLight.ttf);
}
@font-face {
  font-family: 'NeueHassMedium';
  src: url(./fonts/NeueHaasDisplayMediu.ttf);
}
@font-face {
  font-family: 'NeueHassBold';
  src: url(./fonts/NeueHaasDisplayBold.ttf);
}
@font-face {
  font-family: 'NeueHassThin';
  src: url(./fonts/NeueHaasDisplayThin.ttf);
}
@font-face {
  font-family: 'NeueHassExtraThin';
  src: url(./fonts/NeueHaasDisplayXThin.ttf);
}
@font-face {
  font-family: 'NeueHassVeryThin';
  src: url(./fonts/NeueHaasDisplayXXThin.ttf);
}

/* Resetting the Css....... */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

/* setting the root values */
:root {
  --bg-color: rgb(239, 234, 227);
  --main-color: rgb(254, 56, 12);
  --main-color-light: rgb(254, 106, 31);
  --brown-bg: rgb(11, 5, 0);
}

/* setting the style for all headers and paragraph........ */
h1 {
  font-size: 10vw;
  font-family: NeueHassMedium;
  line-height: 0.8;
  text-transform: uppercase;
}
h2 {
  font-size: 3.5vw;
  font-family: NeueHassMedium;
  line-height: 0.8;
}
h3 {
  font-family: NeueHassMedium;
  font-size: 2.1vw;
  line-height: 1;
}
h4 {
  font-family: NeueHassLight;
  font-size: 0.8vw;
  line-height: 1;
  letter-spacing: 1px;
}
h5 {
  font-family: NeueHassLight;
  font-size: 1.74vw;
  line-height: 1;
  letter-spacing: 1px;
}

p {
  font-family: NeueHassLight;
  font-size: 1.3vw;
  line-height: 1.2;
  color: black;
}
a {
  font-family: NeueHassLight;
  text-decoration: none;
  color: black;
}

/* Styling the Main Page... */
.main {
  position: relative;
  z-index: 10;
}
.wrapper {
  width: 100%;
  background-color: var(--bg-color);
}

/* Styling the Landing Page... */

.landing-page {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  padding: 0 2.5vw;
  overflow: hidden;
}

/* Styling the Navbar... */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 1.5vw 0;
}

.nav-tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

.nav-tags h4 {
  position: relative;
  padding: 10px 25px;
  font-size: 16px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 999px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  overflow: hidden;
}

.nav-tags h4::after {
  content: '';
  position: absolute;
  top: 200%;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  scale: 1.5;
  background-color: black;
  transition: all ease 0.5s;
}

.nav-tags h4:hover::after {
  top: 0%;
}

.nav-tags h4 a {
  position: relative;
  z-index: 9;
}
.nav-tags h4:hover a {
  color: white;
}
.phone-nav {
  display: none;
}
/* Styling the Hero Section...... */
.landing-center {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 80vh;
  padding-top: 10%;
  padding-bottom: 4.5vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.169);
}

.left-landing-page {
  width: 30vw;
}

.right-landing-page h1 {
  text-align: right;
  position: relative;
  z-index: 99;
}

/* Styling the circle Animation........ */
.hero-circle {
  position: absolute;
  bottom: 10%;
  right: 40%;
  width: auto;
  height: auto;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 60vw;
  height: 30vw;
  border-radius: 50%;
  filter: blur(25px);
  background: linear-gradient(var(--main-color), var(--main-color-light));
}
.circle-1 {
  animation: circleAnimation1 4s linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.circle-2 {
  animation: circleAnimation2 4s linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.circle-3 {
  animation: circleAnimation3 4s linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes circleAnimation1 {
  0% {
    transform: translate(0%, 0%); /* Initial state */
  }
  100% {
    transform: translate(-13%, -13%); /* Final state */
  }
}
@keyframes circleAnimation2 {
  0% {
    transform: translate(0%, 0%); /* Initial state */
  }
  100% {
    transform: translate(-10%, -15%); /* Final state */
  }
}
@keyframes circleAnimation3 {
  0% {
    transform: translate(-5%, -5%); /* Initial state */
  }
  100% {
    transform: translate(5%, 5%); /* Final state */
  }
}

/* Styling Video Section... */
.landing-page-video {
  position: relative;
  width: 100%;
  padding: 3vw 0;
  border-radius: 45px;
  overflow: hidden;
}

.landing-video {
  width: 100%;
  border-radius: 25px;
}

/* Styling the Moving text section..... */
.page-2 {
  width: 100%;
  height: auto;
  padding: 4vw 0;
  background-color: var(--bg-color);
}
.moving-text {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 25px;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.moving-content {
  animation: text 10s linear infinite;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 35px;
}

.text-circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--main-color);
}

@keyframes text {
  0% {
    transform: translateX(0%); /* Initial state */
  }
  100% {
    transform: translateX(-100%); /* Final state */
  }
}

/* styling the details section...... */

.details {
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  padding: 0 6vw;
  position: relative;
  overflow: visible;
}

.details h2 {
  font-size: 4.5vw;
  width: 65%;
  position: relative;
  z-index: 99;
  padding-top: 10vw;
}
.details .right-image {
  padding-top: 20vw;
  width: 20%;
  position: relative;
  z-index: 99;
}
.details .right-image img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 35px;
}

.gola {
  position: absolute;
  top: 45%;
  left: 30%;
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    var(--main-color),
    var(--main-color-light)
  );
  filter: blur(40px);
  animation: golaMove 4s linear;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes golaMove {
  from {
    transform: translate(-10%, 10%) skew(0deg, 10deg); /* Initial state */
  }
  to {
    transform: translate(10%, -10%) skew(0, 0); /* Final state */
  }
}

/* Styling the project section............ */

.project {
  padding-top: 100px;
  width: 100%;
  padding: 4vw 0;
  height: auto;
  background-color: var(--bg-color);
}
.project-header {
  display: flex;
  align-items: center;
  width: 400px;
  margin-bottom: 75px;
  padding-left: 2vw;
}
.orange-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  margin-right: 8px;
}
.element-container {
  width: 100%;
  position: relative;
}

.elements {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 3vw 2vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.project-details h4 {
  font-size: 1vw;
}
.project-type {
  font-family: NeueHassVeryThin;
}
.project-details,
.elements h2 {
  z-index: 10;
  position: relative;
}

.overlay {
  position: absolute;
  top: -100%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #ff9831;
  transition: all ease 0.7s;
}

.elements:hover .overlay {
  top: 0;
}

.fixed-video {
  display: none;
  position: absolute;
  top: 25%;
  left: 40%;
  width: 25vw;
  height: 30vw;
  border-radius: 25px;
  overflow: hidden;
  z-index: 99;
  pointer-events: none;
}

.fixed-video video {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.all-project {
  position: relative;
  padding: 10px 25px;
  font-size: 16px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 999px;
  color: rgb(0, 0, 0);
  overflow: hidden;
  width: max-content;
  margin-top: 35px;
  margin-left: 2vw;
}
.all-project::before {
  content: '';
  position: absolute;
  top: 200%;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  scale: 1.5;
  background-color: black;
  transition: all ease 0.5s;
}

.all-project:hover::before {
  top: 0;
}
.all-project:hover a {
  color: white;
}
.all-project a {
  font-family: NeueHassExtraThin;
  position: relative;
  z-index: 9;
}
.all-project a i {
  font-family: NeueHassExtraThin;
  color: rgba(0, 0, 0, 0.636);
  font-size: 1.1vw;
}

/* Styling the show reel section....... */
.page-5 {
  width: 100%;
  padding: 4vw 2vw;
  background-color: var(--bg-color);
}
.showreel {
  width: 100%;
  background-color: var(--brown-bg);
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-reel {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0 10vw;
  gap: 3vw;
  flex-direction: column;
}

.show-tags {
  /* height: 50vh; */
}
.left-reel h1 {
  font-size: 5vw;
  color: rgb(80, 74, 69);
  padding: 0.5vw 0 0.5vw 1vw;
  cursor: pointer;
  border-left: 4px solid rgb(80, 74, 69);
}

.left-reel p {
  font-size: 1.3vw;
  color: rgb(160, 155, 155);
  height: 30vh;
}

.right-reel {
  width: 50%;
  height: 100%;
  transition: all ease-in-out 2s;
  overflow: hidden;
}

.reel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  display: block;
}

/* Styling the swiper page*/

.swiper-section {
  width: 100%;
  height: auto;
  background-color: var(--bg-color);
  padding: 5vw 5vw;
  cursor: none;
}

.swiper {
  width: 100%;
  height: 100%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  border-left: 1px solid rgb(80, 74, 69);
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  width: 30%;
  padding: 0 4vw 0 2vw;
  gap: 2.5vw;
}

.swiper-slide img {
  width: 15vw;
}
.brand-para {
  text-align: left;
  font-size: 1.1vw;
  font-family: sundown1;
}

.drag-cursor {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--main-color);
  transform: translate(-50%, -50%);
  z-index: 100;
  pointer-events: none;
  transition-delay: 0.2s;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
  display: none;
}

.arrows {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  color: white;
}
.arrows i {
  font-size: 20px;
}

/* Styling the footer section........... */

.page-6 {
  width: 100%;
  height: 130vh;
  background-color: transparent;
  pointer-events: none;
}

.footer {
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index: 2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  flex-direction: column;

  padding: 4.5vw 2.5vw 2.5vw 2.5vw;
}

.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 2vw 3vw 2vw 3vw;
}
.top-left {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.footer a {
  font-size: 3vw;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}
.footer-links:hover {
  color: rgb(97, 97, 97);
}

.top-right {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 3vw;
}
.email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(79, 79, 79);
}
.top-right input {
  width: 80%;
  background-color: transparent;
  border: none;
  padding: 1vw 0;
}

input::placeholder {
  font-family: NeueHassExtraThin;
  font-size: 1.2vw;
  color: white;
  letter-spacing: 1px;
}
.top-right i {
  width: 5%;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2.5vw 2vw 0 2vw;
  border-top: 1px solid rgb(52, 52, 52);
}
.bottom-footer a {
  font-size: 1.2vw;
}

.footer-gola {
  position: absolute;
  width: 80vw;
  height: 80vw;
  border-radius: 50%;
  background-color: var(--main-color);
  filter: blur(80px);
}

.footer-gola-1 {
  top: 0;
  left: 0;
  width: 50vw;
  height: 40vw;
  animation: footerGola1 4s linear;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.footer-gola-2 {
  top: 0;
  left: 50%;
  width: 100vw;
  height: 40vw;
  animation: footerGola2 5s linear;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.footer-gola-3 {
  top: 0;
  right: 0;
  width: 50vw;
  height: 40vw;
  animation: footerGola3 6s linear;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.mid-footer {
  width: 100%;
}
.mid-footer img {
  width: 100%;
  height: auto;
}
@keyframes footerGola1 {
  from {
    transform: translate(-50%, -20%) skew(5deg);
  }
  to {
    transform: translate(-45%, -75%) skew(-5deg);
  }
}
@keyframes footerGola2 {
  from {
    transform: translate(-55%, -55%) skew(-5deg);
  }
  to {
    transform: translate(-50%, -10%) skew(25deg);
  }
}
@keyframes footerGola3 {
  from {
    transform: translate(50%, -50%) skew(5deg);
  }
  to {
    transform: translate(55%, -15%) skew(-15deg);
  }
}

.upper {
  position: relative;
  z-index: 15;
}
